# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# VIRTUAL ENV
# =========================
venv/
.env/
.venv/

# =========================
# DATA / STORAGE (LOCAL ONLY)
# =========================
storage/
rag/storage/
dev_agent/memory/memory.json
storage/session.json

# =========================
# LOGS
# =========================
*.log

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
